{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/page-components/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/redux/(.*)$",
    "^@/utils/(.*)$",
    "^@/helpers/(.*)$",
    "^@/constants/(.*)$",
    "^@/@types/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
